<%= form_with(model: room, local: true) do |form| %>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-12">
        <% if room.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>
            <ul>
            <% room.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="field form-group">
        <%= form.label :roomType %>
        <%= form.text_field :roomType, class: "form-control", id: :room_roomType, placeholder: "Room Type e.g. Family room" %>
      </div>

      <div class="field form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control", id: :room_description, placeholder: "Description of room" %>
      </div>

      <div class="field form-group">
        <%= form.label :image %>
        <%= form.text_area :image, class: "form-control", id: :room_image,placeholder: "url of image" %>
      </div>

      <div class="field form-group">
        <div class="form-row">
          <div class="col-md-6">
            <%= form.label :quantity %>
            <%= form.number_field :quantity, class: "form-control",  id: :room_quantity,placeholder: "Quantity of rooms" %>
          </div>
          <div class="col-md-6">
            <%= form.label :price %>
            <%= form.text_field :price, class: "form-control", id: :room_price, placeholder: "Price per night" %>
          </div>
        </div>
      </div>

      <div class="actions btn btn-block">
        <!-- <a class="btn btn-primary btn-block" href="login.html">Register</a> -->
        <%= form.submit %>
      </div>
    </div>
  </div>
</div>

<% end %>
