<!-- Example Social Card-->
          <p id="notice"><%= notice %></p>
          <div class="card mb-3">

            <a href="#">
              <!-- <img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=180" alt=""> -->
              <img class="card-img-top img-fluid w-100" width="400px" src="<%= @room.image %>">
            </a>
            <div class="card-body">
              <h6 class="card-title mb-1">  <%= @room.roomType %></h6>
              <p class="card-text small">  <%= @room.description %>
              </p>
            </div>
            <hr class="my-0">
            <div class="card-body py-2 small">
              <strong>Quantity:</strong>
              <%= @room.quantity %>
            </div>
            <hr class="my-0">
            <div class="card-body py-2 small">
              <strong>Price:</strong>
              <%= @room.price %>
            </div>
            <div class="card-footer small text-muted">
              <%= link_to 'Delete', room_path(@room), method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= link_to 'Edit', edit_room_path(@room) %> |
              <%= link_to 'Back', rooms_path %>
            </div>
          </div>
